/* TAG Selectors */

body{
    background: linear-gradient(0deg, #007bff, #dc3545, #edbe21, #4bb067);
    background-size: 800% 800%;
    
    -webkit-animation: Google-gradient 11s ease infinite;
    -moz-animation: Google-gradient 11s ease infinite;
    -o-animation: Google-gradient 11s ease infinite;
    animation: Google-gradient 11s ease infinite;
}

    
@-webkit-keyframes Google-gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes Google-gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-o-keyframes Google-gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes Google-gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
span{
    display:inline-block;
}

h1{
    color:white;
    margin-left:50px;
}
h3{
    text-align:center;
    color:#aaa;
    font-weight: 300;
    font-size:1.5rem;
}
footer{
    text-align:center;
}
ul{
    
}
li{
    display:inline-block;
    padding:10px;
}
p{
    color:#fff;
}

/* td{
    color:#007bff;
    padding:0;
    box-sizing: border-box;
    border:1px solid grey;

}
td:hover{
    transition:0.5s;
    background-color:#ddd;
} */


        /* Class Selectors */


.container{
    width:95%;
    margin-top:10px;
}

 .container-fluid{
    padding:10%  8%;
    text-align:center;
}
.history{
    display:inline-block;
    text-align:left;
}
.history i{
    color:#aaa;
    transform: rotate(-45deg);
}
.history i:hover{
    transition:1s;
    transform:rotate(360deg);
}
.prior-op{
    margin-right:0px;
    margin-top:0px;
    padding:0px;
    width:84.5%;
    display:inline-block;
}

.container-history{
    padding:0px!important;
    margin-top:10px;
    left:420px;
    z-index:1;
    display:inline-block;
    width:300px;
    position:absolute;
    background-color:white;
    visibility: hidden;
    scroll-behavior: smooth;
    overflow-y:auto;
    text-align:left;
    max-height:320px;
}

.cell:hover{
    color:#007bff;
    cursor:pointer;
}
.history-max-height{
    height:300px;
}
.history-header-container{
    height:35px;
    background:repeating-linear-gradient(45deg,#fff,transparent),repeating-linear-gradient(180deg,#bbb,transparent);
    border-bottom:1px #aaa solid;
    
}
.history-content{
    padding-top:10px;
    padding-left:15px;
}
.history-footer{
    height:20px;
}
.history-content p{
    padding:10px;
    margin-top:10px;
   
}
.container-history p{
    color:#007bff;
}
.display{
    width:71%;
    margin-right:10%;
    background-color:#fff;
    border:1px solid #007bff;
    border-radius:10px;
    display:inline-block;
}
.visible{
    visibility: visible;
}
.prior-operation{
    margin-bottom:0px;
    text-align:right;
    /* padding-left:58%; */
    color:#aaa;
    font-size:1.1rem;
}
.fa-history{
    z-index:2;
    position:relative;
}
.fa-history:hover{
    color:#333;
}
.prior-operation p{
    margin-top:10px;
}
.calculator{
    padding:5%;
    margin:0 auto;
}

#rezultat{
    text-align:right;
    font-size:2rem;
}
.btn{
    margin:3px;
    width:90px;
    height:40px;
    font-size:1rem;
}
.btn-lg{
    padding:0.3rem 2rem;
}
.calculator{
    padding:5% 3%;
}
.btn-grey{
    background-color:#ccc;
}
.btn-grey:hover{
    transition:0.5s;
    background-color:#aaa;
}

.red{
    color: #dc3545;
}
.blue{
    color:#007bff;
}
.yellow{
    color:#ffc107;
}
.green{
    color:#28a745;
}



/* ID SELECTORS */

#rezultat{
    color:#000;
    font-weight: 400;
    margin-bottom:0px;
}
#content{
    height:90vh;
}
/* #operatie{
    color:white;
    font-size:1rem;
    /* margin-left:500px; } */



/* Breaking points */


@media  (min-width:468px) {}
@media  (max-width:768px) {
    .container{
        padding:2% 0%;
    }
    .container-fluid{
        padding:2%;
    }
    .title{
        padding-top:10%;
    }
    .display{
        padding:0;
        margin:0 auto;
        width:82%;
       
    }
    .butoane{
        margin-top:100px;
        position:relative;
        right:58px;
    }
    #footer{
        margin-top:26%;
    }
}
@media  (max-width:992px) {
    .container{
        padding:1% 0%;
    
    }

    /* .container-fluid{
        padding:20% 8%;
    } */
    /* .calculator{
        padding:1% 0%;
    } */
    .display{
        padding:0;
        margin-left:18%;
        width:%;
    }
    .butoane{
        position:relative;
        left:10px;

    }
    .title{
        margin:100px 0px 0px 0px;
        text-align:center;
    }
    .container-history{
        left:250px;
    }
    #footer{
        margin-top:45%;
    }
    
}

@media  (min-width:1200px) {
    .container-fluid{
        padding:6% 8%;
    }
    .display{
        position:relative;
        padding:0;
        margin-left:13%;
        width:54%;
    }
    .butoane{
        position:relative;
        left:60px;
    }
    #footer{
        margin-top:0;
    }
}
@media (min-width:1700px){
    .container-fluid{
        padding:5% 8%;
    }
    .display{
        padding:0;
        margin-left:13%;
        width:54%;
    }
}