/* TAG Selectors */

body{
    background:repeating-linear-gradient(45deg,#fff,#000);
}
span{
    display:inline-block;
}

h1{
    color:white;
    margin-left:50px;
}
i{
    color:#aaa;
    transform: rotate(-45deg);
}
i:hover{
    transition:1s;
    transform:rotate(360deg);
}

        /* Class Selectors */


.container{
    width:95%;
    margin-top:10px;
}

 .container-fluid{
    padding:10%  8%;
    text-align:center;
}
.history{
    display:inline-block;
    text-align:left;
}
.prior-op{
    margin-right:0px;
    padding:0px;
    width:84.5%;
    display:inline-block;
}
.display{
    width:71%;
    margin-right:10%;
    background-color:#fff;
    border:1px solid #007bff;
    border-radius:10px;
}
.prior-operation{
    margin-bottom:0px;
    text-align:right;
    /* padding-left:58%; */
    color:#aaa;
    font-size:1.3rem;
}
.calculator{
    padding:5%;
    margin:0 auto;
}

#rezultat{
    text-align:right;
    font-size:2rem;
}
.btn{
    margin:3px;
    width:90px;
    height:40px;
    font-size:1rem;
}
.btn-lg{
    padding:0.3rem 2rem;
}
.calculator{
    padding:5% 12%;
}
.btn-grey{
    background-color:#ccc;
}
.btn-grey:hover{
    transition:0.5s;
    background-color:#aaa;
}

.red{
    color: #dc3545;
}
.blue{
    color:#007bff;
}
.yellow{
    color:#ffc107;
}
.green{
    color:#28a745;
}



/* ID SELECTORS */

#rezultat{
    color:#000;
    font-weight: 400;
}
/* #operatie{
    color:white;
    font-size:1rem;
    /* margin-left:500px; } */



/* Breaking points */

@media (min-width:1700px){
    .prior-operation{
        /* padding-left:70%; */
    }
}